{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Car Collector</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



  <style>
    html, body {
      height: 100%;  
    }
    body {
      display: flex;
      flex-direction: column;
    }
    .content {
      flex: 1; 
    }
  </style>
</head>
<body>
  <div class="content"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Car Collector</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'options_create' %}">Add Car Option</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'options_index' %}">View All My Options</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cars_create' %}">Add a Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'car_index' %}">View All My Cars</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-4">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      All Rights Reserved, &copy; {% now "Y" %} Car Collector
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
  document.addEventListener('DOMContentLoaded', 
  function() {
    const dateEl = document.getElementById('id_date');
    // M is Materialize's global variable
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })
  });

  const selectEl = document.getElementById('id_rental');
  M.FormSelect.init(selectEl);

  // Or with jQuery

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
</body>
</html>
