{% extends 'cars/base.html' %}

{% block content %}
  <h1 class="text-dark">Car Detail</h1>

  {% if car %}
    <div class="card border-dark mb-3">  <img src="{{ car.image }}" class="card-img-top w-75 mx-auto" alt="{{ car.model }}">
      <div class="card-body bg-light">  <h5 class="card-title text-dark">{{ car.model }}</h5>  <p class="card-text text-muted"><strong>Made in:</strong> {{ car.madein }}</p>
        <p class="card-text text-muted"><strong>Year:</strong> {{ car.year }}</p>
        <p class="card-text text-muted"><strong>MSRP$:</strong> {{ car.msrp }}</p>
        <p class="card-text text-muted"><strong>Horsepower:</strong> {{ car.horsepower }}</p>
      </div>

      <div class="card-footer bg-light border-top border-dark"> <a href="{% url 'cars_update' car.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'cars_delete' car.id %}" class="btn btn-secondary">Delete</a>
      </div>
  {% else %}
    <p class="text-dark">Car not found.</p>
  {% endif %}


</div>
<form action="{% url 'add_rental' car.id %}" method="POST" class="col-md-6">
  {% csrf_token %}
  <!-- Render the inputs -->
  {{ rental_form.as_p }}
  <input type="submit" class="btn btn-primary" value="Add Rental">
</form>
<br><br>
<div class="row">
  <h4>Available Rental Date</h4>
  <div class="col-md-12">  <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Rental</th>
        </tr>
      </thead>
      <tbody>
        {% for rental in car.rental_set.all %}
          <tr>
            <td>{{ rental.date }}</td>
            <td>{{ rental.get_rental_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h4>{{ car.model }}'s Options</h4>
    {% if car.options.count %}
      {% for option in car.options.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ option.color }}">{{ option.color }}</span> {{ option.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_delete' car.id option.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn red">Remove</button>
            </form>
            </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Options 😿</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Options</h3>
    {% if options.count %}
      {% for option in options.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ option.color }}">{{ option.color }}</span> {{ option.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_option' car.id option.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{car.name}} Already Has All Options Available</h5>
    {% endif %}
  </div>
</div>


{% endblock %}